<a href="https://colab.research.google.com/github/willianmachado27/PosSenai/blob/main/ExerWillianMachado_Carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Do arquivo carros, imprima as primeiras e as últimas cinco linhas.
# 2 Encontre o nome da empresa de carros mais cara
# 3 mostre a média de preços
# 4 mostre o valor mais alto e mais baixo de horsepower
# 5 mostre a informação de todos os carros da marcar toyota
# 6 faça uma função que filtra os carros por cilindro e salva em outro arquivo CSV 7 Suba o código na pasta AULA 1

In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('carros.csv')
data.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [11]:
# Do arquivo carros, imprima as primeiras e as últimas cinco linhas.
data = pd.read_csv('carros.csv')
print(data.head(5))
print(data.tail(5))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [14]:
# 2 Encontre o nome da empresa de carros mais cara

empresa_mais_cara = data.loc[data['price'].idxmax()]['company']
print(empresa_mais_cara)

mercedes-benz

In [13]:
# 3 mostre a média de preços
media_precos = data['price'].mean()
print(media_precos)

15387.0

In [17]:
# 4 mostre o valor mais alto e mais baixo de horsepower
valor_mais_alto = data['horsepower'].max()
valor_mais_baixo = data['horsepower'].min()
print(valor_mais_alto)
print(valor_mais_baixo)

288
48

In [18]:
# 5 mostre a informação de todos os carros da marcar toyota
carros_toyota = data[data['company'] == 'toyota']
print(carros_toyota)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

In [41]:
# 6 faça uma função que filtra os carros por cilindro e salva em outro arquivo
def filtrar_por_cilindros(cilindros):
    carros_filtrados = data[data['cylinders'] == cilindros]
    carros_filtrados.to_csv('carros_filtrados.csv', index=False)